@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Flex:opsz,wght@6..144,1..1000&display=swap');
@import url('normalize.css');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Google Sans Flex', monospace;
    color: white;
    padding: 0 30px;
    background-color: rgb(23, 12, 31);
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: blueviolet;
}

.container {
    max-width: 800px;
    margin: 200px auto;
}

.window__content-1, .window__content-2 {
    background-color: #0000003A;
}

.window__content-header, .window__content-main {padding: 5px 15px}
.window__header {
    border-radius: 15px 15px 0 0;
}

.window__content {
    display: flex;
    column-gap: 5px;
    margin-top: 5px;
}
.window__content-main {
    display: flex;
    flex-direction: column;
}
.window__content-header {
    border-bottom: #3535353a solid 2px;
    font-weight: bold;
}
.window__content-1, .window__content-2 {
    width: 50%;
}

.window__content-main-title {
    font-weight: bold;
    font-size: 25px;
}
.avatar {
    max-width: 150px;
    width: 100%;
    border-radius: 5%;
    margin: 10px 0;
}

.window__content-main-links {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

@media (max-width: 640px) {
    .window__content {
        flex-direction: column;
    }
    .window__content-1, .window__content-2 {width: 100%}
    .window__content-1 {
        border-radius: 0;
    }
    .window__content-2 {
        margin-top: 5px;
    }

    .window__content-main {
        align-items: center;
    }
}